html {
  
  font-family: "Arial" , sans-serif;
  text-align: center;
  
}


.title {
  
  text-align: center;
  
}

#titleh1 {
  
  
  
}

footer {
  
  text-align: center;
  
}

#5p {
  
  text-align: center;
  
}  
  
